.sec {
    background: #202020;
    height: 100vh;
    margin-top: 20px;
}
.outer {
    width: 100%;
    margin: auto;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
}